[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "jafgen"
version = "0.4.13"
authors = [{ name = "gwenwindflower", email = "gwenwindflower@gmail.com" }]
dependencies = ["numpy", "Faker", "typer"]
description = "A synthetic data generator CLI for a fictional Jaffle Shop"
readme = "README.md"
license = { file = "LICENSE" }
[tool.setuptools.packages.find]
exclude = ["*.tests", "*.tests.*", "tests.*", "tests"]

[project.scripts]
jafgen = "jafgen.cli:app"

[project.optional-dependencies]
dev = ["ruff", "pytest"]
