name: Publish to PyPI

on:
  release:
    types: [created]

jobs:
  build:
    name: Build dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install pypa/build
        run: |
          python3 -m pip install build --user
          python3 -m pip install uv
      - name: Install dependencies
        run: |
          uv pip install -r requirements.txt --system
          uv pip install -r dev-requirements.txt --system
      - name: Lint code
        run: ruff check
      - name: Run tests
        run: pytest
      - name: Build a binary wheel and a source tarball
        run: python3 -m build
      - name: Store the distribution packages
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

  publish:
    name: Publish to PyPI
    needs:
      - build
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/project/jafgen
    permissions:
      id-token: write

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093  # actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish dist to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # pypa/gh-action-pypi-publish@release/v1
